<% provide(:title, 'About') %>
<h1>About</h1>
<p>Spendy helps you understand where you are spending your money. It isn't a traditional
budgeting, or expense app. Spendy focuses on making tracking expenses fun and easy. Gone are
the days of coming up with budgets, shoe-horning expenses into rigid buckets, and trying to
make sense of catch-all miscellaneous categories. Spendy allows you to tag expenses anyway
you desire and generate reports based on your interests. Sign up at <a href="/signup">Join Spendy</a></p>
