<% provide(:title, "Edit user") %> 
<% provide(:submit_button_text, 'Submit Changes') %>

<h3>Update your profile</h3>

<div class="row">
  <div class="span6 offset3">
    <%= render 'layouts/form' %>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>