<li>
  <span class="amount">$<%= number_with_precision(expense.amount, precision: 2) %></span>
  <div>
	<% expense.tags.any? %>
	  <% expense.tags.each do |tag| %>
	  <%= link_to tag.name, tagged_url(:tag => tag.name, :user => ''), class: "btn btn-mini btn-secondary" %>
	<% end %>
  </div>
  <span class="timestamp">
    <%= time_ago_in_words(expense.created_at) %> ago.
  </span>
  <% if current_user?(expense.user) %>
    <%= link_to "delete", expense, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: expense.amount %>
  <% end %>
</li>