<% provide(:title, params[:tag]) %> 
<h2><%= params[:tag].split(',').join(', ') %> <br/> Total: $<%= number_with_precision(@total, precision: 2) %> </h2>
<%= render partial: 'expenses/tag_list' %>
<% if @expenses.any? %>
  <ol class="expenses">
    <%= render partial: 'shared/feed_item', collection: @expenses %>
  </ol>
<% end %>